body{
    margin: 0;
    padding: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.screen{
    display: flex;
    text-align: right;
    width: 350px;
    height: 50px;
    padding: 20px;
    border: 5px solid black;
    font-size: larger;
}
#s-container{
    display: flex;
}
#row1-container, #row2-container, #row3-container, #row4-container{
    display: flex;

}
button{
    height: 100px;
    width: 100px;
}
.s, .z{
    font-weight: bolder;
}
.s{
    background-color: chocolate;
}
